<div class="footer-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      
      	<div class="address-footer" >
      		<p style="background-color: black; color: white;"><h1>CONTACT US</h1>PcRecruit, Off ABC Street, NO 19 Victoria Island
				By 2nd floor, Lagos, Nigeria
				Phone : 08148360715,Email : jobs@pcrecruit.com Web Address : www.pcrecruit.com
			</p>
      	
      	</div>
      	<div class="scope-footer">
      			<h1>Our full scope of services</h1>
      		<P style="background-color: black; color: white;">
				*Administer payroll<br>
				*Make statutory remittances - PAYE, Pension, NHF, ECA, ITF<br>
				*File annual returns<br>
				*Assist with statutory audit – PAYE, NHF, PENCOM, NSITF<br>
				*Process Statutory Compliance Certificates and Employee Tax Clearance Certificates</P>
      	</div>
      
      	<div class="social"  style="position:absolute; bottom: 40px; right:600px">
      			<h1>Follow us on social</h1>
      		<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
			<a href="#" class="fa fa-instagram"></a>	 
      	        
      	</div>
      
      
</div>
