<div class="servi-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<h1>List of available job</h1>
	<tr>
	<div align="left">
	<h2><a th:href="@{'/addjob'}">Add New Job</a></h2>
	<h2><a href="details">Search</a></h2>
  </div>
</tr>
<tr>
<div class="col-sm-4" align="center">
	<div class="panel-body" align="center">
	
	<table class="table">
	<thead class="thead-dark">
	<tr style=" background-color: rgb(23, 175, 36); font-size: 20">
		<th> ID </th>
		<th>Job code</th>
		<th>Job Title</th>
	    <th>Job location</th>
	    <th>Min salary</th>
	    <th>Max salary</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	
	</thead>
	<tbody>
	
	<tr th:each="listjob: ${listjob }" style=" background-color: rgb(143, 165, 53); font-size: 20;">
		<th th:text="${listjob.id}">Id</th>
		<th th:text="${listjob.jobId}">Job code</th>
		<th th:text="${listjob.jobTitle}">Job title</th>
		<th th:text="${listjob.jobLocation}">Job location</th>
		<th th:text="${listjob.minSalary}">Min salary</th>
		<th th:text="${listjob.maxSalary}">Max salary</th>
		<th>
		<a th:href="@{'/edit/' + ${listjob.id}}">Edit</a>
			
		</th>
		<th>
		<a th:href="@{'/delete/' + ${listjob.id}}">Delete</a>
		
			
		</th>
	</tbody>
	</table>
	
	</div>


</div>
</div>