<div class="jobform-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

        
<form  th:action= "@{/saved}" th:object="${job}" method="post">
    
 
      <div class="col-sm-8">
              <div class="form-group row">
			<label class="col-form-label col-4"></label>
                            <div class="col-16">
                          
		     	<input type="hidden" th:field="*{id}" /> 
		      	
                                <input type="text" th:field="*{jobId}" class="form-control" placeholder="Job code" name="jobId" required minlenght="2" maxlength="30" />
                            </div>
                </div>

                <div class="form-group row">
			<label class="col-form-label col-4"></label>
                            <div class="col-8">
				<input type="text" th:field="*{jobTitle}" class="form-control" placeholder="Job Title" name="jobTitle" required minlenght="2" maxlength="30"/>
                            </div>
                           
                </div>
                <div class="form-group row">
			<label class="col-form-label col-4"></label>
                            <div class="col-8">
				<input type="text" th:field="*{jobLocation}" class="form-control" placeholder="Job Location" name="jobLocation" required minlenght="2" maxlength="30"/>
                            </div>
                </div>
                <div class="form-group row">
			<label class="col-form-label col-4"></label>
                            <div class="col-8">
				<input type="text" th:field="*{minSalary}" class="form-control" placeholder="Min Salary" name="minSalary" required minlenght="2" maxlength="30"/>
                            </div>
                </div>
              
                	<div class="form-group row">
                <label class="col-form-label col-4"></label>
                            <div class="col-8">
				<input type="text" th:field="*{maxSalary}" class="form-control" placeholder="Max Salary" name="maxSalary" required minlenght="2" maxlength="30"/>
                            </div>
                </div>

        <div>
         <button type="submit" class="btn btn-info">Save</button>
        </div>
      </div>       
</form>

</div>
