<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search job</title>
<link rel = "stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
 <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body style="background-color:#b3b3b3">
		<th:block  th:include="/header"></th:block>
		<th:block  th:include="/menu"></th:block><br><br><br>
		<th:block  th:include="/finejob"></th:block><br><br><br><br>
	<!-- 	<th:block  th:include="/showbyid"></th:block> -->
		<th:block  th:include="/new"></th:block>
		
		

</body>
</html>