<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<div style="background-color: blue; position: absolute; top: 20%; width: 100%">
            <div class="dropdown">
  <button class="dropbtn">Job</button>
  <div class="dropdown-content">
      <h4><b>Searching for a Job</b></h4>
    <a href="job-search">Job search</a>
    <a href="#">Submit your resume</a>
    
    
    <div style="position: absolute; right: 0%; top:0%">
        <h4><b>Job searching advice</b></h4>
    <a href="#2">Cover Letter and Resume Advice</a>
    <a href="#">Job Interview Tips</a>
    <a href="#">Growing Your Career</a>
    <a href="#">Making Your Next Career Move</a>
    </div>
  </div>
</div>

            
           
            <div class="dropdown">
  <button class="dropbtn">Career advice</button>
  <div class="dropdown-content" >
      <h4><b>Career advice</b></h4>
    <a href="#">Job Search Advice</a>
    <a href="#">Cover Letter and Resume Advice</a>
    <a href="#">Job Interview Tips</a>
    <a href="#">Growing Your Career</a>
    <a href="#">Making Your Next Career Move</a>
    
    <div style="position: absolute; right: 0%; top:0%">
        <h4><b>Popular article</b></h4>
    <a href="#">How to Handle Multiple <br>Job Offers</a>
    <a href="#">How to Best Position Yourself<br> in 2022 Job Market</a>
    <a href="#">Example of Soft Skills You'll<br> Need in Your Next Job</a>
    <a href="#">The Balance of Full-Time Parenthood</a>
    <a href="#">How to Answer Salary <br>Expectation Questions</a>
    </div>
  </div>
</div>
            <div class="dropdown">
  <button class="dropbtn">Recruiting</button>
  <div class="dropdown-content">
      <h4><b>Looking to hire?</b></h4>
    <a href="#">Recruitment Service></a>
    <a href="#">The Recruitment Process</a>
    <a href="#">Reasons to partner<br> with PcRecruit page</a>
    <a href="#">Our Sourcing Methodology</a>
    <a href="#">Client Testimony</a>
    <div style="position:absolute; right: 30%; top: 0%">
        <h4><b>Recruitment Expertise</b></h4>
        <a href="#">Advisory</a>
        <a href="#">Banking and Finance Services</a>
        <a href="#">Construction</a>
        <a href="#">Cybersecurity</a>
        <a href="#">Engineering and Manufacturing</a>
        <a href="#">Executive</a>
        <a href="#">Finance and Accounting</a>
        <a href="#">FinTech</a>
        <a href="#">Healthcare&Life Science </a>
        <a href="#">Human Resource</a>
        <a href="#">Information Technology</a>
        <a href="#">Office Support</a>
    </div>
    <div style="position:absolute; right: 0%; top: 0%">
        <h4><b>Management Advice</b></h4>
        <a href="#">Attraction and Recruitment</a>
        <a href="#">Development and Retention</a>
        <a href="#">Induction and Engagement</a>
        <a href="#">Salary Guides</a>
        
    </div>
    
  </div>
</div>
           
            <div class="dropdown">
  <button class="dropbtn">Work for us</button>
  <div class="dropdown-content" style="min-width: 200px; min-height: auto">
      <h4><b>Work for us</b></h4>
    <a href="#">Why choose us</a>
    <a href="#">Your role here</a>
    <a href="#">Use your skill</a>
    <a href="#">Apply now</a>
  </div>
</div>
            
            <div class="dropdown">
  <button class="dropbtn">About</button>
  <div class="dropdown-content" style="min-width: 200px; min-height: auto">
      <h4><b>About us</b></h4>
    <a href="#">Who we are</a>
    <a href="#">What we do</a>
    <a href="#">About PcRecruit</a>
  </div>
</div>
            
            
            <div class="dropdown">
  <button class="dropbtn">Contact</button>
  <div class="dropdown-content" style="min-width: 200px; min-height: auto">
      <h4><b>Contact us</b></h4>
    <a href="#">Find our offices</a>
    <a href="#">Upload a job Description</a>
    <a href="#">Submit your resume</a>
     <a href="#">Request a call back</a>
     
  </div>
</div>

        <div class="dropdown">
           <button class="dropbtn">Job match</button>
 
       </div>
          
    
    </div>
        

</div>