<div class="servicsum-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      
      	<div class="whoweare-servicsum" >
      		<p style="background-color: black; color: white;"><h1>WHO WE ARE</h1>We are a team of professional consulting bodies that provides a unique platform for employers to post jobs and job seekers to apply for the jobs.
				At pc recruit, we connect employers to the right candidates.
			</p>
      	
      	</div>
      	<div class="forcand-servicsum">
      			<h1>FOR CANDITIATE</h1>
      		<P style="background-color: black; color: white;">
			<a href="#" style="text-decoration: none; color: white">Add a Resume</a><br>
				Candidate Dashboard<br>
				Past Applications<br>
				Job Alerts<br>
				Bookmarks<br>
				My Account<br>
				Your Jobs
      	</div>
      
      	<div class="femp-servicsum">
      		<h1>FOR EMPLOYER</h1>
      		<p style="background-color: black; color: white;">
      		Browse Candidates<br>
			Employer Dashboard<br>
			Add Job<br>
			Job Page<br>
			Job Packages<br>
			Work Process<br>
			My Account<br>
			</p>
      	</div>
      	
      	<div class="info-servicsum">
      		<h1>INFORMATION</h1>
      		<p style="background-color: black; color: white;">
      		About Us<br>
			Terms & Conditions<br>
			Privacy Policy<br>
			Careers with Us<br>
			Sitemap<br>
			Contact Us<br>
			FAQs
			</p>
      	</div>
      
      
</div>
