<div class="servi-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      <div class="client-service">
      	<div>
      	<a href="/service" class="request_service" style="position: relative; float: left; background-color: green;">REQUEST SERVICE<i class="fa fa-caret-right"></a>
      
      	</div>
      <div>
      	<a href="/viewjobs" class="request_service"  style="position: absolute; right: 45%;">FIND JOB<i class="fa fa-caret-right"></a>
      </div>
      
       <div>
      	<a href="/employerform" class="request_service"  style="position: relative; float: right; background-color: brown">EMPLOYEE SELF SERVICE<i class="fa fa-caret-right"></a>
      </div>
      </div>
</div>